/*блоки з короткою іфною про post - в ряд по 5 */

#wrap{
    position: absolute;
    display: flex;
    flex-direction: row;
}

div {
    display: flex;
    flex: 1 0 18%;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 5px;
    background: aquamarine;
    border: 1mm ridge rgba(211, 220, 50, 6);
    margin-top: 1%;
    margin-bottom: 1%;
}
