/* post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд */
h4{
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    background: aquamarine;
    border: 1mm ridge rgba(211, 220, 50, 6);
}

ul {
    display: flex;
    flex-direction: column;
    flex: 1 0 20%;
    box-sizing: border-box;
    border: 1mm ridge rgba(211, 220, 50, 6);

}

#wrap{
    width: 98vw;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;

}

