/* post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд */
h4{
    display: flex;
    box-sizing: border-box;
    justify-content: stretch;
}

ul {
    display: flex;
    flex-direction: column;
    flex: 1 0 20%;
    box-sizing: border-box;

}

#wrap{
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;

}

