#wrap {
    width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;}


div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}